* {
  margin: 0px;
  padding: 0px;
}

.navbar-margin {
  margin-top: 100px;
}

.navbar-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  display: flex;
  position: relative;
  width: 120px;
  background: #007bff;;
  border-radius: 30px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.nav-item {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.nav-item .react-icon {
  font-size: 24px;
  color: darkblue;
}

/* Active state for the nav item */
a {
  color: white !important;

}

.slider {
  position: absolute;
  width: 60%;
  height: 100%;
  background: darkblue;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.slide-left {
  transform: translateX(-10%);
}

.slide-right {
  transform: translateX(65%);
}

.userInput {
  padding: 20px;
  border: 2px solid gray;
  border-radius: 15px;
  width: 400px;
  height: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  padding:5px;
  border: 1px solid gray;
  width: 90%;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 15px;
}

button {
  padding: 10px;
  border-radius: 10px;
  width:100px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* button:hover {
  background: lightblue;
  border-color:lightblue;
} */

.devices {
  display:flex;
}