.divider {
    background-color: lightgray;
    height:1px;
    width:100%;
    margin-top:60px;
    margin-bottom:60px;
}

html {
    height:100vh;
}

body {
    height:100%;
}

.online-status-bubble {
    height: 30px;
    width: 30px;
    border-radius: 15px;    
}

#root {
    height:100%;
}

h3 {
    margin:0px;
    margin-left: 40px;
    padding:0px;
    font-weight:100;
    font-size:16px;
    text-align:left;
}