/* Apply border-box to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-card {
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  margin: 0 1rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-field {
  border: 1px solid #d1d5db;
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.password-container {
  position: relative;
  width: 100%;
}

.show-password-btn {
  position: absolute;
  right: 0px;
  top: calc(50% - 27px);
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
}
.show-password-btn:hover {
  background-color: none !important;
  border-color:none !important;
}

.button {
  width: 100%;
  background-color: #007bff;
  border: none;
  padding: 0.75rem;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.terms {
  font-size: 0.8rem;
  color: #6b7280;
}

.terms a {
  color: #3b82f6;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.redirect-message {
  color: darkgray;
  margin-bottom: 10px;
  text-align: center;
}

.components-form input {
  height:45px;
}